# OIDC configuration
OIDC_HOST=
OIDC_REALM=
OIDC_CLIENT_ID=

# UDM (User Directory Manager) configuration
UDM_USERNAME=
UDM_PASSWORD=
UDM_HOST=

# Keycloak configuration
KEYCLOAK_URL=
KEYCLOAK_USERNAME=
KEYCLOAK_PASSWORD=
KEYCLOAK_REALM_NAME=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_VERIFY_SSL=