# SPDX-License-Identifier: AGPL-3.0-only
# SPDX-FileCopyrightText: 2025 Univention GmbH

---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: {{ printf "%s-ui" (include "common.names.fullname" .) }}
  namespace: {{ include "common.names.namespace" . | quote }}
  labels:
    {{- include "common.labels.standard" ( dict "customLabels" .Values.additionalLabels "context" . ) | nindent 4 }}
  {{- include "nubus-common.annotations.render" ( dict
    "values" ( list .Values.additionalAnnotations )
    "context" . )
    | nindent 2 }}
spec:
  replicas: {{ .Values.twofaHelpdeskFrontend.replicaCount }}
  selector:
    matchLabels:
      app: {{ printf "%s-ui" (include "common.names.fullname" .) }}
      {{- include "common.labels.matchLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        {{- if .Values.podAnnotations }}
        {{- include "common.tplvalues.render" (dict "value" .Values.podAnnotations "context" .) | nindent 8 }}
        {{- end }}
      labels:
        app: {{ printf "%s-ui" (include "common.names.fullname" .) }}
        {{- include "common.labels.standard" . | nindent 8 }}
    spec:
      {{- with .Values.twofaHelpdeskFrontend.affinity }}
      affinity:
        {{ toYaml . | nindent 8 | trim }}
      {{- end }}
      {{- with .Values.twofaHelpdeskFrontend.tolerations }}
      tolerations:
        {{ toYaml . | nindent 8 | trim }}
      {{- end }}
      {{- with .Values.twofaHelpdeskFrontend.nodeSelector }}
      nodeSelector:
        {{ toYaml . | nindent 8 | trim }}
      {{- end }}
      {{- if or .Values.imagePullSecrets .Values.global.imagePullSecrets  }}
      imagePullSecrets:
        {{- range .Values.global.imagePullSecrets }}
        - name: "{{ . }}"
        {{- end }}
        {{- range .Values.imagePullSecrets }}
        - name: "{{ . }}"
        {{- end }}
      {{- end }}
      {{- if .Values.serviceAccount.create }}
      serviceAccountName: {{ include "common.names.fullname" . }}
      {{- end }}
      volumes:
      - name: cache-tmpfs
        emptyDir:
          medium: Memory
      - name: configjson
        emptyDir:
          medium: Memory
      - name: var-run-volume
        emptyDir: {}
      - name: var-lib-nginx-volume
        emptyDir: {}
      - name: {{ printf "%s-nginx" (include "common.names.fullname" .) | quote }}
        configMap:
          name: {{ printf "%s-nginx" (include "common.names.fullname" .) | quote }}
          defaultMode: 420
      {{- if .Values.twofaHelpdeskFrontend.podSecurityContext.enabled }}
      securityContext:
        {{- omit .Values.twofaHelpdeskFrontend.podSecurityContext "enabled" | toYaml  | nindent 10 }}
      {{- end }}
      initContainers:
      - name: init-configjson
        {{- if .Values.twofaHelpdeskFrontend.securityContext.enabled }}
        securityContext:
          {{- omit .Values.twofaHelpdeskFrontend.securityContext "enabled" | toYaml  | nindent 12 }}
        {{- end }}
        image: "{{ coalesce .Values.twofaHelpdeskFrontend.image.registry .Values.global.imageRegistry }}/{{ .Values.twofaHelpdeskFrontend.image.repository }}{{ if .Values.twofaHelpdeskFrontend.image.sha256 }}@sha256:{{ .Values.twofaHelpdeskFrontend.image.sha256 }}{{ else }}:{{ .Values.twofaHelpdeskFrontend.image.tag }}{{ end }}"
        imagePullPolicy: {{ coalesce .Values.twofaHelpdeskFrontend.image.pullPolicy .Values.global.imagePullPolicy | quote }}
        command: ["sh", "-c", "mkdir -p /mnt && touch /mnt/config.json"]
        volumeMounts:
          - name: configjson
            mountPath: /mnt
        resources:
          {{- toYaml .Values.twofaHelpdeskFrontend.resources | nindent 10 }}
      containers:
      - name: "twofa-helpdesk-frontend-ui"
        {{- if .Values.twofaHelpdeskFrontend.securityContext.enabled }}
        securityContext:
          {{- omit .Values.twofaHelpdeskFrontend.securityContext "enabled" | toYaml  | nindent 12 }}
        {{- end }}
        image: "{{ coalesce .Values.twofaHelpdeskFrontend.image.registry .Values.global.imageRegistry }}/{{ .Values.twofaHelpdeskFrontend.image.repository }}{{ if .Values.twofaHelpdeskFrontend.image.sha256 }}@sha256:{{ .Values.twofaHelpdeskFrontend.image.sha256 }}{{ else }}:{{ .Values.twofaHelpdeskFrontend.image.tag }}{{ end }}"
        imagePullPolicy: {{ coalesce .Values.twofaHelpdeskFrontend.image.pullPolicy .Values.global.imagePullPolicy | quote }}
        ports:
        - containerPort: 80
        volumeMounts:
          - name: cache-tmpfs
            mountPath: /var/cache/nginx
          - name: configjson
            mountPath: /usr/share/nginx/html/univention/2fa/config.json
            subPath: config.json
          - name: var-run-volume
            mountPath: /var/run
          - name: var-lib-nginx-volume
            mountPath: /var/lib/nginx
          - name: {{ printf "%s-nginx" (include "common.names.fullname" .) | quote }}
            subPath: nginx.conf
            mountPath: /etc/nginx/nginx.conf
        env:
        envFrom:
          - configMapRef:
              name: {{ printf "%s-config" (include "common.names.fullname" .) }}
        {{- if .Values.twofaHelpdeskFrontend.probes.liveness.enabled }}
        livenessProbe:
          httpGet:
            path: /univention/2fa/
            port: 80
          initialDelaySeconds: {{ .Values.twofaHelpdeskFrontend.probes.liveness.initialDelaySeconds }}
          timeoutSeconds: {{ .Values.twofaHelpdeskFrontend.probes.liveness.timeoutSeconds }}
          periodSeconds: {{ .Values.twofaHelpdeskFrontend.probes.liveness.periodSeconds }}
          failureThreshold: {{ .Values.twofaHelpdeskFrontend.probes.liveness.failureThreshold }}
          successThreshold: {{ .Values.twofaHelpdeskFrontend.probes.liveness.successThreshold }}
        {{- end }}
        {{- if .Values.twofaHelpdeskFrontend.probes.readiness.enabled }}
        readinessProbe:
          httpGet:
            path: /univention/2fa/
            port: 80
          initialDelaySeconds: {{ .Values.twofaHelpdeskFrontend.probes.readiness.initialDelaySeconds }}
          timeoutSeconds: {{ .Values.twofaHelpdeskFrontend.probes.readiness.timeoutSeconds }}
          periodSeconds: {{ .Values.twofaHelpdeskFrontend.probes.readiness.periodSeconds }}
          failureThreshold: {{ .Values.twofaHelpdeskFrontend.probes.readiness.failureThreshold }}
          successThreshold: {{ .Values.twofaHelpdeskFrontend.probes.readiness.successThreshold }}
        {{- end }}
        resources:
          {{- toYaml .Values.twofaHelpdeskFrontend.resources | nindent 10 }}

...
